.container {
  margin-top: 15%;
  color: #6577b3;
}

img {
  position: absolute;
  opacity: 0.3;
  margin-left: -80%;
}

.card {
  width: 500px;
}

.btn {
  background-color: #6577b3;
  color: white;
}
